$border-radius1: 8px;

$main-color1: #e3e6f0;
$main-color2: #f1f4f9;

$text-color1: #4d5c6f;

$accent-color1: #7b3edd;
$accent-color2: #ffc8d3;
$accent-color3: #f7005a;
$accent-color4: #f0e3ff;

$complete-bg: #9ffed0;
$complete-color: #268a67;
$uncomplete-bg: #f6f485;
$uncomplete-color: #b2792c;

$task-hover: #cbd5e1;
$accent-color1-hover: #6d28d9;
$accent-color2-hover: #fda4af;

$form-bg: rgba(0,0,0,.7)

//night-theme:

